# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.envrc
.integration_test_lock
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDEs
.idea/
.vscode/*.code-workspace

*.swp
*.swo

# Project specific
*.log
.DS_Store
*.Zone.Identifier

# Sphinx documentation
docs/build/

# API Keys and Secrets
*.apikey
*.key
.secrets/
.claude/
.anthropic/
.openai/

# knowledge base files
*.pdf

# Jupyter Notebooks
**/.ipynb_checkpoints
