name: Deploy Docs

on:
    push:
        branches:
            - main
    release:
        types: [published]
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build-docs:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # Required for setuptools_scm

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install .[docs]

            - name: Build Sphinx docs
              run: |
                  cd docs
                  make html

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/build/html

    deploy-docs:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build-docs
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
